#chef {

height: auto;
width: 1980px ;
}

body {
    background-color: aliceblue;
}

.links {

    color: rgb(197, 160, 231);
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}

.hotcake {
    text-align: justify;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

#caca {

    text-align: center;

}

.paso {
    font-size: 25px;
    text-align: center;

}

.panquecas {

   font-size: 25px;
   text-align: left;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}